<%= form_for(post) do |f| %>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %> <br />

    <%= f.label :content, "Content" %>
    <%= f.text_area :content %> <br />

    <%= f.submit %>
<% end %>
