<div class="row">
    <div class="col-md-12">
        <% @posts.each do |post| %>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <%= link_to(post) do %>
                        <%= post.title %>
                    <% end %>
                </div>
                <div class="panel-body">
                    <%= post.content %>
                </div>
            </div>
        <% end %>
    </div>
</div>
