<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>
            <%= @post.title %>
        </h2>
        <span><%= @post.created_at.strftime('%B %d, %Y') %> by </span>
        <p>
            <%= @post.content %>
        </p>
    </div>
</div>
