<header>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <%= link_to "SPREX", root_path, class: "navbar-brand" %>
        </div>
        <div class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><%= link_to "Home", root_path %></li>
                <li>
                    <% if current_user %>
                        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                    <% else %>
                        <%= link_to "Login", new_user_session_path %>
                    <% end %>
                </li>
            </ul>
        </div>
    </nav>
</header>
