<!DOCTYPE html>
<html>
  <head>
    <title>CmsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
        <%= render 'layouts/header' %>
        <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>" role="alert">
                <%= value %>
            </div>
        <% end %>
        <%= yield %>
        <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
